.resume .row .c53 table{
    border: solid 0px white;
    margin-bottom: 0rem;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    p{
        font-size: .8rem;
        font-weight: 600;
        margin-bottom: 0;
    }

    li{
        font-size: .7rem;
        font-weight: 400;
    }
    hr{
        margin: 0;
    }
}

.c13 span{
    font-size: 1rem;
    font-weight: 800;
}

.c35, .c54{
    text-align: right;
}