<div class="row">
<p>Copyright &copy; 2014 <a href="#" title="vujohnny">vujohnny.com</a></p>
</div>

<script>
	$(window).scroll(function() {
		if($('.off-canvas-wrap.move-right').length){
			$('.exit-off-canvas').trigger("click");
		}
	});

	$('.left-off-canvas-toggle.menu-icon').click(function(){
		console.log("on click going to top");
		if($(window).scrollTop()!=0){
			console.log("going to top");
			$("html, body").animate({ scrollTop: 0 }, "fast");	
		}
	});
$(document).foundation();
</script>