<div class="socialicon">
    <a href="https://www.linkedin.com/pub/johnny-vu/24/737/487" target="_blank"<i class="fa fa-linkedin-square fa-2x"></i></a>
    <a href="https://github.com/vujohnny" target="_blank"><i class="fa fa-github fa-2x"></i></a>
    <a href="https://bitbucket.org/johnnyhvu" target="_blank"><i class="fa fa-bitbucket fa-2x"></i></a>
    <a href="https://www.facebook.com/johnny.h.vu" target="_blank"><i class="fa fa-facebook-official fa-2x"></i></a>
    <a href="https://plus.google.com/109863309493116803737/posts/p/pub" target="_blank"><i class="fa fa-google-plus-square fa-2x"></i></a>
    <a href="/contact"><i class="fa fa-envelope-square fa-2x"></i></a>
</div>