.socialicon {
    .fa-linkedin-square {
        color: #1985BC;
    }
    .fa-github {
    	color: black;
    }
    .fa-envelope-square {
        color: orange;
    }
    .fa-facebook-official{
    	color: blue;
    }
    .fa-google-plus-square{
    	color: red;
    }
}