<div class="contain-to-grid sticky" ng-controller="NavbarCtrl">
    <nav class="tab-bar" data-topbar role="navigation" data-options="sticky_on: [small, medium, large]" aria-hidden="true">
        <ul class="title-area">
            <li class="name header-logo small-offset-2 medium-offset-0">
                <h1><a href="/">Johnny Vu</a></h1>
            </li>
        </ul>
        <section class="left-small show-for-small-only">
            <a class="left-off-canvas-toggle menu-icon" aria-expanded="false" href="#"><span></span></a>
        </section>
        <section class="right tab-bar-section top-bar-section hide-for-small-only">
            <!-- Right Nav Section -->
            <ul class="right">
                <li ng-repeat="item in menu" ui-sref-active="active">
                    <a ui-sref="{{item.state}}">{{item.title}}</a>
                </li>
            </ul>
        </section>
        <!--End of TabNav-->
    </nav>
    <!-- StickNav ends here -->
</div>
<!-- Off Canvas Menu -->
<aside class="left-off-canvas-menu show-for-small-only">
    <ul class="off-canvas-list">
        <li ng-repeat="item in menu" ui-sref-active="active">
            <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
    </ul>
</aside>